<div class="main-wrapper">
  <div class="auth-wrapper">
    <form action="/update/<%= usuario.id %>" method="post">
      <input type="name" name="name" placeholder="<%= usuario.name %>" />
      <input type="sobrenome" name="sobrenome" placeholder="<%= usuario.sobrenome %>" />
      <button type="submit">Editar</button>
    </form>
  </div>
</div>
